
body   {
/*background-color: #BDBDBD;*/
background-image: url("../image/cifrado.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
}

body:hover{
  background-blend-mode: soft-light;
  transition: all .30s ease-in-out;
  background-image: url("../image/cifrado.jpg");  
}

.titulo h1 {
  color: #e5e7ea;
    font-family: 'Seymour One', sans-serif;
    font-size: 44px;
    margin-left: 528px;
    display: inline-block;
    text-align: center;
}

p {
  font-family: 'Flavors', cursive;
  font-size: 35px;
  color: #85a4d4;
  text-align: center;
}

#mensaje h2 {
  color: #85a4d4;
    font-family: 'Seymour One', sans-serif;
    font-size: 34px;
    margin-left: 550px;
    display: inline-block;
    text-align: center;
}

#texto {
  margin-left: 630px;
  border: inset;
  border-width: medium;
  border-radius: 10px;
  width: 250px;
  height: 100px;
}

#mensaje2 h2 {
  color: #85a4d4;
    font-family: 'Seymour One', sans-serif;
    font-size: 34px;
    margin-left: 550px;
    display: inline-block;
    text-align: center;
}

#texto2 {
  margin-left: 630px;
  border: inset;
  border-width: medium;
  border-radius: 10px;
  width: 250px;
  height: 100px;


}


#mensaje3 h2 {
  color: #85a4d4;
    font-family: 'Seymour One', sans-serif;
    font-size: 34px;
    margin-left: 550px;
    display: inline-block;
    text-align: center;
}

#texto3{
  margin-left: 630px;
  border: inset;
  border-width: medium;
  border-radius: 10px;
  width: 250px;
  height: 100px;
}


#mensaje4 h2 {
  color: #85a4d4;
    font-family: 'Seymour One', sans-serif;
    font-size: 34px;
    margin-left: 550px;
    display: inline-block;
    text-align: center;
}


#txt3 {
  margin-left: 630px;
  border: inset;
  border-width: medium;
  border-radius: 10px;
  width: 250px;
  height: 100px;

}
